[submodule "vendor/fortran-curl"]
	path = vendor/fortran-curl
	url = https://github.com/interkosmos/fortran-curl
[submodule "vendor/fortran-lua54"]
	path = vendor/fortran-lua54
	url = https://github.com/interkosmos/fortran-lua54
[submodule "vendor/fortran-pcre2"]
	path = vendor/fortran-pcre2
	url = https://github.com/interkosmos/fortran-pcre2
[submodule "vendor/fortran-sqlite3"]
	path = vendor/fortran-sqlite3
	url = https://github.com/interkosmos/fortran-sqlite3
[submodule "vendor/fortran-unix"]
	path = vendor/fortran-unix
	url = https://github.com/interkosmos/fortran-unix
[submodule "vendor/fortran-zlib"]
	path = vendor/fortran-zlib
	url = https://github.com/interkosmos/fortran-zlib
[submodule "vendor/fortran-zstd"]
	path = vendor/fortran-zstd
	url = https://github.com/interkosmos/fortran-zstd
