# Distribution / packaging
.xmake/
build/
dist/
doc/
dump/
env/
include/
lib/
man/html/
man/pdf/

# Other stuff
*-shm
*-wal
*.*~
*.a
*.db
*.hdf5
*.html
*.mod
*.o
*.pdf
*.so
*.sql
*.sqlite
*.swp
config/*.conf
config/*.config
favicon.png
rsync_*
