# Distribution / packaging
.xmake/
build/
dist/
doc/
env/
include/
lib/
man/html/
man/pdf/

# Other stuff
*-shm
*-wal
*.*~
*.a
*.conf
*.db
*.hdf5
*.html
*.mod
*.o
*.pdf
*.so
*.sql
*.sqlite
*.swp
rsync_*
