# Distribution / packaging
.xmake/
build/
dist/
doc/
dump/
env/
guide/html/
include/
lib/

# Other stuff
*-shm
*-wal
*.*~
*.a
*.db
*.hdf5
*.html
*.json
*.mod
*.o
*.pdf
*.so
*.sql
*.sqlite
*.swp
config/*.conf
config/*.config
favicon.png
rsync_*
