--
-- Example configuration file for dmbot.
--
-- Rename table "dmbot" to the instance name (parameter `--name`).
--
-- Settings:
--
--      debug     - Forward log messages of level DEBUG via IPC (if logger is set).
--      group     - List of authorised JIDs. If empty, all users can send commands!
--      host      - IP or FQDN of XMPP server.
--      jid       - Jabber ID.
--      logger    - Name of logger to send logs to (optional).
--      log_db    - Path to log database (optional).
--      node      - Node id.
--      observ_db - Path to log database (optional).
--      password  - Jabber ID password.
--      port      - Port of XMPP server (default: 5222).
--      reconnect - Reconnect on error.
--      tls       - Force TLS encryption.
--      verbose   - Print logs to standard error.
--

dmbot = {
    node = "dummy-node",
    logger = "",
    jid = "juliet@capulet.example",
    password = "secret",
    host = "example.com",
    port = 5222,
    tls = true,
    reconnect = false,
    log_db = "",
    observ_db = "",
    group = { "romeo@montague.tld" },
    debug = false,
    verbose = true
}
