--
-- Example configuration file for dmdb.
--
-- Rename table `dmdb` to the instance name (parameter `--name`).
--
-- Settings:
--
--      database - Path to DMPACK log database.
--      debug    - Forward log messages of level DEBUG via IPC (if logger is set).
--      ipc      - Use POSIX semaphore for process synchronisation.
--      logger   - Name of logger instance (implies log forwarding).
--      node     - Node id.
--      verbose  - Print received logs to standard error.
--

dmdb = {
    database = "/var/dmpack/log.db",
    node = "dummy-node",
    ipc = false,
    logger = "",
    debug = false,
    verbose = false
}
