--
-- Example configuration file for dmfeed.
--
-- Rename table "dmfeed" to the instance name (parameter `--name`).
-- Run `dmuuid --hyphens` to generate a valid feed id.
--
-- Settings:
--
--      author      -   Name of feed author or organisation (optional).
--      database    -   Path to DMPACK log database.
--      email       -   E-mail of feed author (optional).
--      id          -   36 characters long UUID (with hyphens) of the Atom feed.
--      maxlevel    -   Maximum log level (0 to 5, optional).
--      minlevel    -   Minimum log level (0 to 5, optional).
--      nentries    -   Maximum number of entries is feed (default 50, optional).
--      node        -   Sensor node id, selects only related logs (optional).
--      output      -   Path to output file (if empty, feed is printed to standard output).
--      subtitle    -   Subtitle of the feed (optional).
--      title       -   Title of the feed (optional).
--      url         -   URL to the feed (optional).
--      xsl         -   Absolute or relative path to XSLT style sheet (optional).
--

dmfeed = {
    id = "30667c40-6ec4-4c98-9e03-15da86631cbc",
    author = "Jane Doe",
    email = "mail@example.com",
    title = "Monitoring",
    subtitle = "Log Messages",
    url = "https://example.com/feed.xml",
    database = "/var/dmpack/log.sqlite",
    node = "dummy-node",
    minlevel = 3,
    maxlevel = 5,
    nentries = 100,
    xslt = "feed.xls",
    output = "/tmp/feed.xml"
}
