--
-- Example configuration file for dmfeed.
--
-- Each Atom feed should have a distinct id. Run `dmuuid --hyphens` to
-- generate a valid feed id.
--
-- The options `minlevel` and `maxlevel` may be set to one of the following
-- named constants:
--
--      LOG_NONE     - 0
--      LOG_DEBUG    - 1
--      LOG_INFO     - 2
--      LOG_WARNING  - 3
--      LOG_ERROR    - 4
--      LOG_CRITICAL - 5
--
-- Rename table "dmfeed" to the instance name (parameter `--name`).
--
-- Settings:
--
--      author      -   Name of feed author or organisation (optional).
--      database    -   Path to DMPACK log database.
--      email       -   E-mail of feed author (optional).
--      id          -   36 characters long UUID (with hyphens) of the Atom feed.
--      maxlevel    -   Maximum log level (0 to 5, optional).
--      minlevel    -   Minimum log level (0 to 5, optional).
--      nentries    -   Maximum number of entries is feed (default 50, optional).
--      node        -   Sensor node id, selects only related logs (optional).
--      output      -   Path to output file (if empty, feed is printed to standard output).
--      subtitle    -   Subtitle of the feed (optional).
--      title       -   Title of the feed (optional).
--      url         -   URL of the output feed (optional).
--      xsl         -   URL of XSLT style sheet (optional, empty for none).
--

dmfeed = {
    id = "30667c40-6ec4-4c98-9e03-15da86631cbc",
    author = "Jane Doe",
    email = "mail@example.com",
    title = "Monitoring",
    subtitle = "Log Messages",
    url = "https://example.com/feed.xml",
    database = "/var/dmpack/log.sqlite",
    node = "dummy-node",
    minlevel = LOG_WARNING,
    maxlevel = LOG_CRITICAL,
    nentries = 100,
    xsl = "feed.xsl",
    output = "/var/www/feed.xml"
}
