--
-- Example configuration file for dmfs to read temperature values from a sensor
-- connected through the 1-Wire File System (OWFS).
--
-- Observations are forwarded to process `dmdb` via POSIX message queue. To run
-- dmfs as a sole data logger, remove the receiver from the observation, and
-- set output file and format.
--
-- Rename table "dmfs" to the instance name (parameter `--name`).
--
-- Settings:
--
--      debug   - Forward log messages of level DEBUG via IPC (if logger is set).
--      format  - Output format, either `csv` or `jsonl`.
--      jobs    - List of jobs to perform.
--      logger  - Name of logger instance (implies log forwarding).
--      node    - Node id.
--      output  - Path of output file, or `-` for stdout (optional).
--      sensor  - Sensor id.
--      verbose - Print logs to standard error.
--

--
-- OWFS path of the temperature sensor.
--
path = "/mnt/1wire/10.DCA98C020800/temperature"

--
-- Table of observations to be used in jobs list. The attribute `receivers`
-- contains a list of up to 16 processes to forward the observation to.
--
observs = {
    {
        name = "dummy-observ",
        target_id = "dummy-target",
        receivers = { "dmdb" },
        requests = {
            {
                request = path,
                pattern = "(?<temp>[-+0-9\\.]+)",
                delay = 500,
                responses = {
                    {
                        name = "temp",
                        unit = "degC"
                    }
                }
            }
        }
    }
}

dmfs = {
    logger = "dmlogger",
    node = "dummy-node",
    sensor = "dummy-sensor",
    output = "",
    format = "none",
    jobs = {
        {
            disabled = false,
            onetime = true,
            delay = 1000
        },
        {
            disabled = false,
            onetime = false,
            observation = observs[1],
            delay = 10 * 1000
        }
    },
    debug = false,
    verbose = true
}
