--
-- Example configuration file for dmlogger.
--
-- Rename table "dmlogger" to the instance name (parameter `--name`).
--
-- Settings:
--
--      database    -   Path to DMPACK log database.
--      ipc         -   Use POSIX semaphore for process synchronisation.
--      minlevel    -   Minimum level for a log to be stored in the database (0 to 5).
--      node        -   Name of the sensor node.
--      verbose     -   Print received logs to standard error.
--

dmlogger = {
    database = "/var/dmpack/log.sqlite",
    node = "dummy-node",
    minlevel = 2,
    ipc = false,
    verbose = true
}
