--
-- Example configuration file for dmlogger.
--
-- The option `minlevel` may be set to one of the following
-- named constants:
--
--      LVL_NONE     - 0
--      LVL_DEBUG    - 1
--      LVL_INFO     - 2
--      LVL_WARNING  - 3
--      LVL_ERROR    - 4
--      LVL_CRITICAL - 5
--
-- Rename table "dmlogger" to the instance name (parameter `--name`).
--
-- Settings:
--
--      database - Path to DMPACK log database.
--      ipc      - Use POSIX semaphore for process synchronisation.
--      minlevel - Minimum level for a log to be stored in the database (0 to 5).
--      node     - Name of the sensor node.
--      verbose  - Print received logs to standard error.
--

dmlogger = {
    database = "/var/dmpack/log.sqlite",
    node = "dummy-node",
    minlevel = LVL_INFO,
    ipc = false,
    verbose = true
}
