--
-- Example configuration file for dmlua.
--
-- Rename table `dmlua` to the instance name (parameter `--name`).
--
-- Settings:
--
--      debug     - Forward log messages of level DEBUG via IPC (if logger is set).
--      logger    - Name of logger instance (implies log forwarding).
--      node      - Node id (required).
--      procedure - Name of the Lua procedure (required).
--      script    - Path to the Lua script file (required).
--      verbose   - Print logs to standard error.
--

dmlua = {
    logger = "dmlogger",
    node = "dummy-node",
    script = "/usr/local/share/dmpack/dmlua/dmlua.lua",
    procedure = "process",
    debug = false,
    verbose = true
}
