--
-- Example configuration file for dmplot.
--
-- Rename table "dmplot" to the instance name (parameter `--name`).
--
-- The following plot terminals are supported:
--
--      ansi     - ASCII format, in ANSI colours.
--      ascii    - ASCII format.
--      gif      - GIF format (libgd).
--      png      - PNG format (libgd).
--      pngcairo - PNG format (libcairo), created from vector graphics.
--      sixelgd  - Sixel format (libgd), originally for DEC terminals.
--      svg      - W3C Scalable Vector Graphics (SVG) format.
--      x11      - Persistent X11 window (libX11).
--
-- Settings:
--
--      background - Background colour (for example, `#ffffff` or `white`).
--      font       - Font name (for example, `Open Sans` or `monospace`).
--      foreground - Foreground colour (for example, `#ff0000` or `red`).
--      database   - Path to observations database (required).
--      from       - Start of time range in ISO 8601 (required).
--      height     - Plot height.
--      node       - Node id (required).
--      output     - Path to output file.
--      response   - Response name (required).
--      sensor     - Sensor id (required).
--      target     - Target id (required).
--      terminal   - Plot terminal (required).
--      title      - Plot title.
--      to         - End of time range in ISO 8601 (required).
--      width      - Plot width.
--

dmplot = {
    node = "dummy-node",
    sensor = "dummy-sensor",
    target = "dummy-target",
    response = "dummy-1",
    from = "1970-01-01T00:00:00.000000+00:00",
    to = "2070-01-01T00:00:00.000000+00:00",
    output = "/tmp/%Y-%M-%D_dummy-plot.png",
    database = "/var/dmpack/observ.sqlite",
    terminal = "svg",
    background = "#ffffff",
    foreground = "#ff0000",
    font = "sans",
    title = "Plot",
    width = 1200,
    height = 500
}
