--
-- Example configuration file for dmreport to generate HTML report.
--
-- The options `minlevel` and `maxlevel` may be set to one of the following
-- named constants:
--
--      LL_DEBUG    - 1
--      LL_INFO     - 2
--      LL_WARNING  - 3
--      LL_ERROR    - 4
--      LL_CRITICAL - 5
--      LL_USER     - 6
--
-- Rename table `dmreport` to the instance name (parameter `--name`).
--
-- Settings:
--
--      author   - Report author (optional).
--      format   - Output format, either `html`, `pdf`, or `ps` (required).
--      from     - Start of time range in ISO 8601 (required).
--      logs     - Settings for logs section.
--      meta     - Report description (optional).
--      node     - Node id (required).
--      output   - Path to output file (required).
--      plots    - Settings for plot section.
--      style    - Path to (minified) CSS file (HTML only).
--      subtitle - Subtitle of the report (optional).
--      title    - Title of the report.
--      to       - End of time range in ISO 8601 (required).
--      verbose  - Include warning and error messages in report.
--

dmreport = {
    node = "dummy-node",
    from = "1970-01-01T00:00:00.000000+00:00",
    to = "2070-01-01T00:00:00.000000+00:00",
    format = "html",
    output = "%Y-%M-%D_dummy-report.html",
    style = "/usr/local/share/dmpack/dmreport/dmreport.min.css",
    title = "Monitoring Report",
    subtitle = "Project",
    author = "Jane Doe",
    meta = "Report example.",
    verbose = true,
    plots = {
        disabled = false,                       -- Disable plots section.
        database = "/var/dmpack/observ.sqlite", -- Path to observation database.
        title = "Plots",                        -- Overwrite default heading.
        meta = "Plots example.",                -- Optional description.
        observations = {                        -- List of plots to generate.
            {
                disabled = false,               -- Disable plot.
                sensor = "dummy-sensor",        -- Sensor id (required).
                target = "dummy-target",        -- Target id (required).
                response = "dummy-1",           -- Response name (required).
                unit = "deg C",                 -- Response unit.
                scale = 1.0,                    -- Response value scale factor (optional).
                format = "svg",                 -- Plot format (HTML: gif, png, pngcairo, svg; PDF/PS: postscript).
                title = "Temperature",          -- Plot title.
                subtitle = "Indoor",            -- Plot sub-title (optional).
                meta = "Some comment.",         -- Plot description (optional).
                color = "#ff0000",              -- Stroke colour.
                width = 1000,                   -- Plot width in pixel (HTML) or cm (PDF/PS).
                height = 300,                   -- Plot height in pixel (HTML) or cm (PDF/PS).
                pagebreak = false               -- Add page break afterwards (PDF/PS only).
            }
        }
    },
    logs = {
        disabled = false,                       -- Disable logs section.
        database = "/var/dmpack/log.sqlite",    -- Path to log database.
        minlevel = LL_WARNING,                  -- Minimum log level (default: LL_WARNING).
        maxlevel = LL_CRITICAL,                 -- Maximum log level (default: LL_CRITICAL).
        title = "Logs",                         -- Overwrite default heading.
        meta = "Logs example.",                 -- Description (optional).
    }
}
