--
-- Example configuration file for dmreport.
--
-- The options `minlevel` and `maxlevel` may be set to one of the following
-- named constants:
--
--      LL_DEBUG    - 1
--      LL_INFO     - 2
--      LL_WARNING  - 3
--      LL_ERROR    - 4
--      LL_CRITICAL - 5
--      LL_USER     - 6
--
-- Rename table `dmreport` to the instance name (parameter `--name`).
--
-- Settings:
--
--      from     - Start of time range in ISO 8601 (required).
--      logs     - Logs settings.
--      meta     - Optional description text.
--      node     - Node id (required).
--      output   - Path to output file (if empty or `-`, report is printed to stdout).
--      plots    - Plots settings.
--      style    - Path to (minified) CSS file.
--      subtitle - Subtitle of the report.
--      title    - Title of the report.
--      to       - End of time range in ISO 8601 (required).
--      verbose  - Include warning and error messages in HTML.
--

dmreport = {
    node = "dummy-node",
    from = "1970-01-01T00:00:00.000000+00:00",
    to = "2070-01-01T00:00:00.000000+00:00",
    output = "%Y-%M-%D_dummy-report.html",
    style = "/usr/local/share/dmpack/dmreport/dmreport.min.css",
    title = "Monitoring Report",
    subtitle = "Project",
    meta = "Report example.",
    verbose = true,
    plots = {
        disabled = false,                       -- Disable plots.
        database = "/var/dmpack/observ.sqlite", -- Path to observation database.
        title = "Plots",                        -- Overwrite default heading.
        meta = "Plots example.",                -- Optional description.
        observations = {                        -- List of plots to generate.
            {
                disabled = false,               -- Disable plot.
                sensor = "dummy-sensor",        -- Sensor id (required).
                target = "dummy-target",        -- Target id (required).
                response = "dummy-1",           -- Response name (required).
                unit = "deg C",                 -- Response unit.
                scale = 1.0,                    -- Response value scale factor (optional).
                format = "svg",                 -- Plot format (gif, png, pngcairo, svg).
                title = "Temperature",          -- Plot title.
                subtitle = "Indoor",            -- Plot sub-title.
                meta = "Some comment.",         -- Optional description.
                color = "#ff0000",              -- Graph colour.
                width = 1000,                   -- Plot width in pixels.
                height = 300,                   -- Plot height in pixels.
                break = .false                  -- Add page break afterwards (PDF only).
            }
        }
    },
    logs = {
        disabled = false,                       -- Disable logs.
        database = "/var/dmpack/log.sqlite",    -- Path to log database.
        minlevel = LL_WARNING,                  -- Minimum log level (default: LL_WARNING).
        maxlevel = LL_CRITICAL,                 -- Maximum log level (default: LL_CRITICAL).
        title = "Logs",                         -- Overwrite default heading.
        meta = "Logs example.",                 -- Optional description.
    }
}
