--
-- Example configuration file for dmrecv.
--
-- Rename table "dmrecv" to the instance name (parameter `--name`). If no output
-- file is given, the program prints received data to standard output.
--
-- Settings:
--
--      format    -   Output format: `block`, `csv`, `jsonl`, `nml` (required).
--      forward   -   Forward observations to the next specified receiver (disabled by default).
--      output    -   Path of output file (optional).
--      replace   -   Replace output file instead of appending data (disabled by default).
--      response  -   Name of response in received observation (required for format `block`).
--      type      -   Data type to receive (`log`, `observ`).
--      verbose   -   Print logs to standard output.
--

dmrecv = {
    format = "csv",
    output = "/tmp/observs.csv",
    type = "observ",
    response = "dummy-1",
    forward = false,
    replace = false,
    verbose = true
}
