--
-- Example configuration file for dmsend.
--
-- Rename table "dmsend" to the instance name (parameter `--name`). If no input
-- file is given, the program expects the data to be passed via standard input.
--
-- Settings:
--
--      debug    - Forward log messages of level DEBUG via IPC (if logger is set).
--      format   - Input format (`csv`, `nml`).
--      forward  - Forward observations to the next specified receiver.
--      input    - Path to input file in CSV or Fortran 95 Namelist format, or `-` for standard input.
--      logger   - Name of logger instance (implies log forwarding).
--      node     - Optional node id.
--      receiver - Name of the process to send the records to (`forward` must be false).
--      type     - Record data type (`log`, `observ`).
--      verbose  - Print logs to standard error.
--

dmsend = {
    logger = "",
    node = "dummy-node",
    type = "observ",
    format = "nml",
    input = "observ.nml",
    receiver = "dmrecv",
    debug = false,
    forward = false,
    verbose = true
}
