name: Build and Test

on:
  push:
    branches: [ v2 ]
  pull_request:
    branches: [ v2 ]

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-24.04 ]
    env:
      GCC_V: 14
      NO_COLOR: 1
      DM_GM_SKIP: 1

    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v3

    - name: List Packages
      if: contains(matrix.os, 'ubuntu')
      run: |
        sudo apt list --installed

    - name: Install Packages
      if: contains(matrix.os, 'ubuntu')
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-${GCC_V} gfortran-${GCC_V} make pkg-config
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-${GCC_V} 100 \
          --slave /usr/bin/gfortran gfortran /usr/bin/gfortran-${GCC_V}
        sudo apt-get install -y --no-install-recommends curl gnuplot ghostscript graphicsmagick \
          groff lua5.4 sqlite3 libblas-dev liblapack-dev libcurl4t64 libcurl4-openssl-dev \
          libfcgi-bin libfcgi-dev libhdf5-103-1t64 libhdf5-dev liblua5.4 liblua5.4-dev libmodbus5 \
          libmodbus-dev libpcre2-8-0 libpcre2-dev libsqlite3-0 libsqlite3-dev libstrophe0 \
          libstrophe-dev zlib1g zlib1g-dev libzstd1 libzstd-dev

    - name: Install NNG
      if: contains(matrix.os, 'ubuntu')
      run: |
        git config --global url.https://github.com/.insteadOf git://github.com/
        git clone --depth 1 --branch v1.11 https://github.com/nanomsg/nng.git
        mkdir -p nng/build && cd nng/build/
        cmake -DCMAKE_INSTALL_PREFIX:PATH=/tmp -DCMAKE_POSITION_INDEPENDENT_CODE=ON ..
        make
        make install

    - name: Configure System
      if: contains(matrix.os, 'ubuntu')
      run: |
        sudo sysctl fs.mqueue.msg_max=100
        sudo sysctl fs.mqueue.msgsize_max=16384
        gnuplot --version

    - name: Build and Test
      if: contains(matrix.os, 'ubuntu')
      run: |
        which gfortran
        which gcc
        make build OS=linux PREFIX=/tmp RELEASE="-g -O0 -Wall -fmax-errors=1" \
          LIBNNG="-Wl,-rpath=/tmp/lib -L/tmp/lib -lnng"
        sh runtests.sh
